.services__box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .services__box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .services__title {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #162d50;
    font-weight: bold;
  }
  
  .services__description {
    font-size: 0.95rem;
    color: #666;
  }
  
  .services__image {
    max-width: 80px; /* Taille de l'image */
    margin-bottom: 15px;
  }
  
@media (max-width: 768px) {
    .services__container {
      grid-template-columns: 1fr;
    }
  }


.l-header {
    margin-bottom: 40px; /* Espace sous la barre de navigation */
    background-color: #162d50; /* Couleur du fond pour la barre */
    color: #fff; /* Texte en blanc */
  }
  
.services {
    margin-top: 40px; /* Optionnel : espace en haut de la section */
  }
  